<%= render partial: "layouts/header" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 content-wrapper">
      <h2 class="section-big-title">Start a Project</h2>
      <p class="center-text">Leberkas landjaeger sausage swine salami fatback pork belly spare ribs venison short loin pig andouille. Short ribs short loin tri-tip ham hock pork belly shoulder chuck spare ribs pork loin rump corned beef shank pork chop. Sausage doner t-bone, swine turkey brisket bresaola hamburger prosciutto. Tri-tip beef meatloaf, spare ribs corned beef swine rump chuck jowl cupim ribeye kevin. Pastrami jerky kielbasa meatloaf shank drumstick andouille rump t-bone. Frankfurter bacon ham hock, flank kevin cupim fatback capicola swine meatloaf. Meatball strip steak beef ribs spare ribs andouille.</p>

      <form class="contact-form start-project-form">
        <input type="text" name="name" id="name" value="" placeholder="Name">
        <input type="phone" name="phone-number" id="phone" value="" placeholder="What's yo numba?">
        <input type="email" name="email" id="email" value="" placeholder="Email Address">
        <input type="text" name="city" id="city" value="" placeholder="City">
        <input type="text" name="state" id="state" value="" placeholder="State">
        <input type="text" name="zipcode" id="zipcode" value="" placeholder="Zipcode">
        <textarea name="message" rows="8" cols="40">Tell us a bit about your project.</textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
<%= render partial: 'layouts/social_icons' %>
<section class="start-a-project-footer">
  <p class="start-a-project-footer-copy">&copy; <%= Time.now.strftime("%Y") %> impactstud.io LLC</p>
  <%= link_to "Privacy", "" %>
  <%= link_to "Site Map", " " %>
</section>
