<div class="container-fluid social-icons">
  <div class="col-xs-10 col-xs-offset-2">
    <div class="social-icon-wrapper">
      <%= link_to (fa_icon "github"), root_path, class: "social-icon-link" %>
    </div>
    <div class="social-icon-wrapper">
      <%= link_to (fa_icon "facebook-f"), root_path, class: "social-icon-link" %>
    </div>
    <div class="social-icon-wrapper">
      <%= link_to (fa_icon "linkedin"), root_path, class: "social-icon-link" %>
    </div>
    <div class="social-icon-wrapper">
      <%= link_to (fa_icon "google-plus"), root_path, class: "social-icon-link" %>
    </div>
    <div class="social-icon-wrapper">
      <%= link_to (fa_icon "twitter"), root_path, class: "social-icon-link" %>
    </div>
  </div>
</div>
