<div class="container-fluid social-icons">
  <div class="row">
    <div class="col-xs-12">
      <div class="social-icon-wrapper">
        <%= link_to (fa_icon "github"), "//www.github.com/impactstudio", class: "social-icon-link github-link", target: '_blank' %>
      </div>
      <div class="social-icon-wrapper">
        <%= link_to (fa_icon "facebook-f"), "//www.facebook.com/impactstudioWebDesign", class: "social-icon-link facebook-link", target: "_blank" %>
      </div>
      <div class="social-icon-wrapper">
        <%= link_to (fa_icon "linkedin"), '//www.linkedin.com/company/impactstud.io', class: "social-icon-link linkedin-link", target: '_blank' %>
      </div>
      <div class="social-icon-wrapper">
        <%= link_to (fa_icon "google-plus"), "//plus.google.com/100468104714305937328", class: "social-icon-link google-link", target: '_blank' %>
      </div>
      <div class="social-icon-wrapper">
        <%= link_to (fa_icon "twitter"), '//twitter.com/impactstdio', class: "social-icon-link twitter-link", target: '_blank' %>
      </div>
    </div>
  </div>
</div>
