<div class="container-fluid social-icons">
  <div class="col-xs-12">
    <div class="social-icon-wrapper">
      <%= link_to (fa_icon "github"), root_path, class: "social-icon-link github-link" %>
    </div>
    <div class="social-icon-wrapper">
      <%= link_to (fa_icon "facebook-f"), root_path, class: "social-icon-link facebook-link" %>
    </div>
    <div class="social-icon-wrapper">
      <%= link_to (fa_icon "linkedin"), root_path, class: "social-icon-link linkedin-link" %>
    </div>
    <div class="social-icon-wrapper">
      <%= link_to (fa_icon "google-plus"), root_path, class: "social-icon-link google-link" %>
    </div>
    <div class="social-icon-wrapper">
      <%= link_to (fa_icon "twitter"), root_path, class: "social-icon-link twitter-link" %>
    </div>
  </div>
</div>
