<!DOCTYPE html>
<html>
<head>
  <title>ImpactstudIo</title>
  <meta name="viewport" content="width=device-width" />
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<div id="flash">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><p><%= value %></p></div>
  <% end %>
</div>
<%= yield %>
<% if current_user %>
  <%= link_to "Logout", destroy_user_session_path, method: "delete" %>
<% end %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
